@{
    ViewData["Title"] = "Главная";
}

<div>
    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>Хост</th><th>Статус</th></tr></thead>
        <tbody></tbody>
    </table>
</div>
<script>

    (function getSites() {
        $.ajax({
            cache: false,
            url: '/home/sites',
            type: 'GET',
            contentType: "application/json",
            success: function (sites) {
                var rows = "";
                $.each(sites, function (index, site) {
                    rows += row(site);
                })
                $("table tbody").find("tr").remove();
                $("table tbody").append(rows);
            },
            complete: function () {
                setTimeout(getSites, 10000);
            }
        });
    })();

    // создание строки для таблицы
    var row = function (site) {
        return "<tr>" +
            "<td>" + site.host + "</td> <td>" + site.status + "</td></tr>";
    }

</script>
